{
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  },
  "presets": [
    ["env", {
      "modules": false
    }]
  ]
}
