{
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "commonjs": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-param-reassign": ["error"],
    "prettier/prettier": "error"
  }
}
