{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "commonjs": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-param-reassign": ["error"]
  }
}
