.husky
.eslintcache
.editorconfig
.eslintignore
.prettierignore
.lintstagedrc
.gitignore
.nyc_output
.vscode
.cache
.DS_Store
yarn.lock
node_modules
dist
coverage
LICENSE
example/path2d-polyfill.dev.js
